.jumbotron{
    background-color: rgb(0, 184, 240);
    color: black;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.footer{
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    background-color: rgb(0, 184, 240);
}

.btn{
    border-color: rgb(25, 0, 255);
}

.card-hotel{
    flex: 1 200px;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
}

.tittle{
    font-size: x-large;
}

.button-reserve{
    width: 100%;
}

.hotels{
    padding: 10px 10px 10px 10px;
}